///* ========================================================================
//   #COLORS
//   ======================================================================== */

$white:      #fff;
$black:      #000;
$gigas:   #58388f;
$whisper: #f8f8fb;
$dusty:   #949494;
