/* ==========================================================================
   #IMAGES
   ========================================================================== */

 picture {
   position: relative;
   z-index: 1;
 }

 figure {
   z-index: 1;
 }

 img {
   z-index: 1;
 }

 svg {
   width: 100%;
   height: 100%;
 }

 path {
   fill-rule:evenodd;
   clip-rule:evenodd;
   stroke-linejoin:round;
   stroke-miterlimit:1.41421;
 }
