/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  min-height: 100%; /* [3] */
  font-family: $global-font-family;
  color: $white;
}

body {
  background-color: $white;
  min-height: 100%;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
