/* ==========================================================================
   #SHAPE
   ========================================================================== */

.u-shape-outside {
  shape-outside: circle(50%);
  width: 300px;
  height: 300px;
}
