/* ==========================================================================
   #ABSOLUTE
   ========================================================================== */

.u-absolute {
  position: absolute;
  margin: auto;
  overflow: hidden;
}

$directions: left top right bottom !default;
$distances: 10 20 30 40 50 !default;
$absolute-delimiter: \/ !default;
$absolute-breakpoint-separator: \@ !default;


@each $direction in $directions {

  @each $distance in $distances {

    .u-absolute--#{$direction}#{$absolute-delimiter}#{$distance} {

      #{$direction}: percentage($distance / 100);
    }

  }

}
