/* ==========================================================================
   #ANIMATIONS
   ========================================================================== */

 @keyframes screen-in {
   0%   { transform: scale(1.5); clip-path: polygon(0 0, 0 0, 0 0, 0 0); }
   50%  { clip-path: polygon(0 0, 100% 0%, 100% 100%, 75% 100%); }
   100% { transform: scale(1);   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); }
 }

 @keyframes screen-out {
   0%   { transform: scale(1);   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); }
   50%  { clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); }
   100% { transform: scale(1.5); clip-path: polygon(0 0, 0 0, 0 0, 0 0); }
 }

 // @keyframes throw-up {
 //   0%   { transform: rotate(0deg)   translate(0,0); transform-origin: 100% 100%; }
 //   50%  { transform: rotate(0deg)   translate(0,-100px); }
 //   100% { transform: rotate(0deg)   translate(0,0); transform-origin: 100% 100%; }
 // }
