/* ==========================================================================
   #SLIDER
   ========================================================================== */

.c-slider {
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

  .c-slider__backgrounds {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
  }

    .c-slider__background {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 1s ease-out;
      transform: scale(1.2);
      opacity: 0;

      body.is-loaded &.is-active {
        transform: scale(1);
        opacity: 1;
      }
    }

    #pacific-bg {
      background-image: url(/img/bgs/cathay.jpg);
    }
    #mahal-bg {
      background-image: url(/img/bgs/taj.jpg);
    }
    #express-bg {
      background-image: url(/img/bgs/orient.jpg);
    }
    #lido-bg {
      background-image: url(/img/bgs/lido.jpg);
    }

  .c-slider__shape {
    fill: none;
    stroke: $gigas;
    stroke-width: 0.25px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    width: 60vw;
    min-width: 800px;
    z-index: 1;
    transform: translate(0,-50%);
  }

  .c-slider__title {
    font-size: 9vh;
    line-height: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: absolute;
    left: 10%;
    top: 20%;
    height: 18vh;
    z-index: 2;
    margin-bottom: 0;

    .c-slider__title-line {
      overflow: hidden;
      display: block;
      height: 9vh;
    }

  }

  .c-slider__title-line:last-child span {
    transition-delay: .1s;
  }

  .c-slider__title-line span {
    display: block;
    transition: all .4s ease-in-out;
    transform: translate(0,100%);

    body.is-loaded & {
      transform: translate(0,0);
    }
  }

  .c-slider__pages {
    z-index: 2;
    margin: auto;
    width: 60vw;
    display: block;
    position: relative;
    height: 100%;
  }
