/* ==========================================================================
   #IMAGES
   ========================================================================== */

.c-placeholder .c-thumb,
.c-placeholder .c-picture {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s linear;
  opacity: 0;

  &.is-loaded {
    opacity: 1;
  }
}

.c-thumb {
  width: 100%;
}

.c-thumb--blurred {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

.c-picture,
.c-picture img {
  width: 100%;
}

.c-picture--small {
  width: 20%;
}
