/* ==========================================================================
   #LOGOS
   ========================================================================== */

.c-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  font-weight: 700;
}
