/* ==========================================================================
   #LOADERS
   ========================================================================== */

.c-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: $whisper;
  width: 50vw;
  height: 50vh;
  transition: all .5s ease-out;

  body.is-loaded & {
    opacity: 0;
  }
}
