/* ==========================================================================
   #CONTAINERS
   ========================================================================== */

.c-container {
  width: calc(100% - 80px);
  background: $black;
  position: relative;
  opacity: 0;
  transition: all .5s ease-out;
  overflow: hidden;

  body.is-loaded & {
    opacity: 1;
  }
}
