/* ==========================================================================
   #SLIDES
   ========================================================================== */

.c-slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  opacity: 0;
  transition: all .1s ease-out;

  &.is-prev {
    z-index: 1;
  }
  &.is-active {
    z-index: 2;
    opacity: 1;
    transition: all 1s ease-in;
  }
  &.is-next {
    z-index: 1;
  }
}

  .c-slide__content {
    position: absolute;
    max-width: 200px;
    text-align: center;
  }

  .c-slide__content--bottom-right {
    right: 10%;
    bottom: 15%;
  }

  .c-slide__content--top-right {
    right: 10%;
    top: 15%;
  }

  .c-slide__content--bottom-left {
    left: 10%;
    bottom: 15%;
  }

    .c-slide__title {
      font-size: inuit-rem(14px);
      line-height: normal;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: .5em;
      letter-spacing: .1em;
    }

    .c-slide__text {
      font-size: inuit-rem(18px);
      font-weight: 200;
      line-height: 1.333333em;
      margin-bottom: 0;
    }
