/* ==========================================================================
   #TITLES
   ========================================================================== */

.c-title {
  position: fixed;
  top: 60px;
  left: 35px;
  margin: auto;
  z-index: 3;
  fill: $white;
  width: 190px;
  height: 56px;
}
