/* ==========================================================================
   #SLIDER NAV
   ========================================================================== */

.c-slider__nav {
  z-index: 4;
  position: absolute;
  bottom: 3%;
  left: 10%;
  margin: auto;
}

  .c-slider__nav-list {
    list-style: none;
    margin: 0;
  }

    .c-slider__nav-item {
      display: inline-block;
    }

      .c-slider__nav-link {
        border-radius: 75%;
        width: 25px;
        height: 25px;
        display: block;
        cursor: pointer;
        margin: 5px;
        position: relative;

        &::before {
          content: '';
          width: 25px;
          height: 25px;
          display: block;
          border: 1px solid $white;
          border-radius: 75%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          opacity: 0;
          transition: all .2s ease-out;
        }

        &::after {
          content: '';
          width: 9px;
          height: 9px;
          display: block;
          background-color: $white;
          border-radius: 75%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          transition: all .2s ease-out;
        }

        body.is-loaded &.is-active::before {
          opacity: 1;
          width: 25px;
          height: 25px;
        }

        &:hover::before  {
          opacity: 1;
          width: 15px;
          height: 15px;
        }

        &:hover::after  {
          opacity: 1;
          width: 15px;
          height: 15px;
        }
      }
