/* ==========================================================================
   #SIDEBAR
   ========================================================================== */

.c-sidebar {
  width: 80px;
  height: 100%;
  background-color: $gigas;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: all .5s ease-out;

  body.is-loaded & {
    opacity: 1;
  }
}
