/* ==========================================================================
   #PAGES
   ========================================================================== */

.c-page {
  padding: 10vh;
  background-color: $white;
}

  .c-page__title {
    font-size: inuit-rem(14px);
    font-weight: 200;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
  }

  .c-page__text {
    font-size: inuit-rem(30px);
    font-weight: 200;
    color: $dusty;
    width: 80%;
    max-width: 1200px;
  }

  .c-page__caption {
    font-size: inuit-rem(14px);
    font-weight: 200;
    color: $black;
    width: 20%;
    max-width: 500px;
    font-weight: 700;
  }
