/* ==========================================================================
   #FIGURES
   ========================================================================== */

.c-figure {
  margin: auto;
  position: relative;
  z-index: 1;
  max-width: 1240px;
}

.c-figure--small {
  width: 20%;
}

.c-figure--medium {
  width: 40%;
}

.c-figure--large {
  width: 80%;
}

.c-figure--fill {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.c-figure--cover img,
.c-figure--cover picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.c-figcaption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: transparent;
  font-weight: 200;
  padding: 2%;
  width: 30%;
  font-size: inuit-rem(14px);
  line-height: normal;
  background-color: rgba($gigas,0);
  border-radius: 3px;
  transform-origin: left bottom;
  transition: all .2s ease-in-out .2s, color .2s ease-in-out 0s;
  height: 0;
  width: 0;

  &.is-active {
    background-color: rgba($gigas,.5);
    color: $white;
    transition: all .2s ease-in-out, color .2s ease-in-out .3s;
    height: 110px;
    width: 310px;
  }
}

  .c-figcaption__expander {
    width: 30px;
    height: 30px;
    border-radius: 75%;
    position: absolute;
    bottom: -15px;
    left: -15px;
    cursor: pointer;
    transition: all .2s ease-in;
    background-color: rgba($gigas,.5);

    svg {
      width: 16px;
      height: 16px;
      fill: $white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    .c-figcaption.is-active &,
    &:hover {
      background-color: rgba($gigas,.8);
    }
    .c-figcaption.is-active & {
      transform: rotate(45deg);
    }
  }
